<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/indexStyle.css">
    <script src="https://kit.fontawesome.com/2dbd763d9c.js" crossorigin="anonymous"></script>
    <title>PersonalizAR</title>

</head>

<body>

    <header>
        <div class="menu-navegacion">
        <img src="/img/logo-kapu-01.png" alt="logo">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-lavel">
        <i class="fas fa-bars"></i>

    </label>
        <nav class="menu-desplegable">
            <ul>
                <li> <a href="#">Inicio</a> </li>
                <li> <a href="#">Productos</a> </li>
                <li> <a href="#">Quienes somos</a> </li>
                <li> <a href="#">Contacto</a> </li>
                <li> <img src="/img/Carrito.jpg" alt="Carrito"> </li>
            </ul>
        </nav>
    </div>
    </header>

<main class="ppal">
<div class="fondo">
    <section class="dejaVolar">
        <div class="content-dejavolar">
        <h4 class="section1-prodPers">Productos Personalizables</h4>
       
            <h2 class="section1-dejaVolar">Dejá volar tu</h2>
            <h2 class="imagine">imaginación</h2>
            <p class="section2-frase">Personalizá cualquier producto y hace realidad esa prenda que siempre quisiste</p>
       
        <div class="section2-dejaVolar">
            <button class="buttonPersonalizar">PERSONALIZAR</button>
        </div>  
    </div>

    </section>
</div>
    <br>

<div class="fondo2">
    <section class="prodDestacados">
        <h2>Productos Destacados</h2>
        <div class="ProdDestParent">
            <div class="parent">
                <img class="imgProductos" src="img/AC mockup.png" alt="img3"/>
                <div class="fondoAzul">
                    <h5>Remera</h5>
                    <h4>$500</h4>
                </div>
            </div>
            <div class="parent">
                <img class="imgProductos" src="img/AC mockup.png" alt="img3"/>
                <div class="fondoAzul">
                    <h5>Remera</h5>
                    <h4>$500</h4>
                </div>
            </div>
            <div class="parent">
                <img class="imgProductos" src="img/AC mockup.png" alt="img3"/>
                <div class="fondoAzul">
                    <h5>Remera</h5>
                    <h4>$500</h4>
                </div>
            </div>
            <div class="parent">
                <img class="imgProductos" src="img/AC mockup.png" alt="img3"/>

                <div class="fondoAzul">
                    <h5>Remera</h5>
                    <h4>$500</h4>
                </div>
            </div>
        </div>
    </section>
</div>

    <br>

<div class="fondo3">
    <section class="productos">

        <div class="botellas">
            <h2 class="botTitle">Botellas</h2>
            <button class="botonBotellas">VER MÁS</S></button>

        </div>

        <div class="accesorios">
            <h2 class="accTitle">Accesorios</h2>
            <button class="botonAccesorios">VER MÁS</S></button>
        </div>

        <div class="indumentaria">
            <h2 class="indTitle">Indumentaria</h2>
            <button class="botonIndumentaria">VER MÁS</S></button>
        </div>
    </section>
</div>

</main>

<footer>   
    <div class= "footer-1">
        <img class="logo2" src="./img/logo-kapu-01.jpg" alt = "Logo Kapu">
        <ul class="listado-footer1">
            <li class="lista">Inicio</li>
            <li class="lista">Productos</li>
            <li class="lista">¿Quienes Somos?</li>
            <li class="lista">Contacto</li>
        </ul>

        <ul class="listado-footer2">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        </ul>
    </div>
    
    <div class="footer-2">
        <ul class="listado-footer3">
            <li>Políticas de Privacidad</li>
            <li>Términos & Condiciones</li>
        </ul>
</div>
</footer>

</body>

</html>