<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/indexStyle.css">
    <script src="https://kit.fontawesome.com/2dbd763d9c.js" crossorigin="anonymous"></script>
    <title>PersonalizAR</title>

</head>

<body>

    <header>
        <div class="menu-navegacion">
        <img src="/img/logo-kapu-01.png" alt="logo">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-lavel">
        <i class="fas fa-bars"></i>

    </label>
        <nav class="menu-desplegable">
            <ul>
                <li> <a href="#">Inicio</a> </li>
                <li> <a href="#">Productos</a> </li>
                <li> <a href="#">Quienes somos</a> </li>
                <li> <a href="#">Contacto</a> </li>
                <li> <img src="/img/Carrito.jpg" alt="Carrito"> </li>
            </ul>
        </nav>
    </div>
    </header>

<main class="ppal">

    <section class="dejaVolar">
        <h4 class="section1-prodPers">Productos Personalizables</h4>
        <div class="section1-dejaVolar">
            <h2 class="section1-dejaVolar">Dejá volar tu</h2>
            <h2 class="imagine">imaginación</h2>
            <p class="section2-frase">Personalizá cualquier producto y hace realidad esa prenda que siempre quisiste</p>
        </div>
        <div class="section2-dejaVolar">
            <button class="buttonPersonalizar">PERSONALIZAR</button>
        </div>  

    </section>

    <br>

    <section class="prodDestacados">
        <h2>Productos Destacados</h2>
        <div class="ProdDestParent">
            <div class="parent">
                <img class="imgProductos" src="img/AC mockup.png" alt="img3"/>
                <div class="fondoAzul">
                    <h5>Remera</h5>
                    <h4>$500</h4>
                </div>
            </div>
            <div class="parent">
                <img class="imgProductos" src="img/AC mockup.png" alt="img3"/>
                <div class="fondoAzul">
                    <h5>Remera</h5>
                    <h4>$500</h4>
                </div>
            </div>
            <div class="parent">
                <img class="imgProductos" src="img/AC mockup.png" alt="img3"/>
                <div class="fondoAzul">
                    <h5>Remera</h5>
                    <h4>$500</h4>
                </div>
            </div>
            <div class="parent">
                <img class="imgProductos" src="img/AC mockup.png" alt="img3"/>

                <div class="fondoAzul">
                    <h5>Remera</h5>
                    <h4>$500</h4>
                </div>
            </div>
        </div>
    </section>

    <br>

    <section class="productos">

        <div class="botellas">
            <h2>Botellas</h2>
            <button class="botonBotellas">VER MÁS</S></button>

        </div>

        <div class="accesorios">
            <h2>Accesorios</h2>
            <button class="botonAccesorios">VER MÁS</S></button>
        </div>

        <div class="indumentaria">
            <h2>Indumentaria</h2>
            <button class="botonIndumentaria">VER MÁS</S></button>
        </div>
    </section>

</main>

<footer>
        <img src="./img/logo-kapu-01.png" alt="Logo">
<!-- menu footer-->
        <div>
            <ul>
                <li>Inicio</li>
                <li>Productos</li>
                <li>Quienes somos</li>
                <li>Contacto</li>
                <li>Cart</li>
            </ul>
        </div>
        <!-- redes footer-->
        <div class="redes">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
        </div>

</footer>

</body>

</html>