<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/indexStyle.css">
    <script src="https://kit.fontawesome.com/2dbd763d9c.js" crossorigin="anonymous"></script>
    <title>PersonalizAR</title>

</head>

<body>

    <header>
        <div class="menu-navegacion">
        <img src="/img/logo-kapu-01.png" alt="logo">

    </label>
        <nav class="menu-desplegable">
            <ul>
                <li> <a href="#">Inicio</a> </li>
                <li> <a href="#">Productos</a> </li>
                <li> <a href="#">Quienes somos</a> </li>
                <li> <a href="#">Contacto</a> </li>
                <li> <a href="#">Carrito</a> </li>
            </ul>
        </nav>
    </div>
    </header>


    <footer>
        <img src="./img/logo-kapu-01.png" alt="Logo">
<!-- menu footer-->
        <div>
            <ul>
                <li>Inicio</li>
                <li>Productos</li>
                <li>Quienes somos</li>
                <li>Contacto</li>
                <li>Cart</li>
            </ul>
        </div>
        <!-- redes footer-->
        <div class="redes">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
        </div>

    </footer>

</body>

</html>