<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Kapu</title>
    <link href="/css/login2.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Merriweather:wght@900&family=Noto+Sans&family=WindSong&display=swap" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
       rel="stylesheet" />
   
</head>

<body> 
  <div class="caja1">
        <main>
            <img class ="logo1" src="./img/logo-kapu-01.png" alt = "Logo Kapu"> 
        <div class ="logo-3Kapu">
            <img class ="logo3" src="./img/logo-kapu-01.jpg" alt = "LogoKapu3">  
        </div>
           
        <div class="saludo-bienvenido">
            <h2 class="saludo"> Bienvenido </h2>
        </div>
        </main>
    
         <form>
            <section class="sección1">
                <div class="titulo-label"><label class="label" for="email">Email</label></div>
                <div class="caja-input"><input class="input" type="email" name="email" placeholder="Insertá tu email"></div>
                <div class="titulo-label"><label class="label"for="password">Contraseña</label></div>
                <div class="caja-input"><input class="input" type="password" name="contraseña" placeholder="Insertá tu contraseña"></div>
            </section>

            <section class= "sección2">
                <div class= "iniciar-sesión"><a class="iniciar" href="./" type="submit">INICIAR SESIÓN</a></div>
                <div class="olvidé-contraseña"><a class="contraseña" href="./" type="submit">No recuerdo mi contraseña</a></div>
                <div class= "crear-cuenta"> <a class="crear-cuenta1" href="./" type="submit">No tengo cuenta</a></div>
            </section>
         
            <section class="sección3">
                <div class="url1">
                    <i class="fab fa-facebook-square"></i>
                    <a class="vinculos" href="./https://www.facebook.com/">Continuar con Facebook</a>
                </div>
                <div class= "url2">
                    <i class="fab fa-google"></i>
                    <a class="vinculos"href="./https://www.google.com/">Continuar con Google</a>
                </div> 

            </section>
</form>
</div>

<div class="caja2">
    <h1 class ="frase"> Dejá Volar tu</h1>
    <h3 class="imaginacion"> imaginación</h3>
    <p class="frase2">Personaliza el producto que quieras y hace realidad esa prenda que siempre quisiste</p>
    <img class="imagenes" src="./img/imagenes-juntas.jpg">
    <img class="fondo" src="/img/fondo-login.jpg">
</div>            


<footer>    
    <div class= "footer-1">
            <img class="logo2" src="./img/logo-kapu-01.jpg" alt = "Logo Kapu">
            <ul class="listado-footer1">
                <li class="lista">Inicio</li>
                <li class="lista">Productos</li>
                <li class="lista">¿Quienes Somos?</li>
                <li class="lista">Contacto</li>
            </ul>

            <ul class="listado-footer2">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
            </ul>
    </div>
        
    <div class="footer-2">
            <ul class="listado-footer3">
                <li>Políticas de Privacidad</li>
                <li>Términos & Condiciones</li>
            </ul>
    </div>
</footer>
</body>
</html>

