*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 26px;
    color: #328093;
    text-align: center;
}

.seccionform {
    padding: 10px;
    width: 95%;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #328093;
    margin: auto;

}

h2 {
    padding-top: 20px;
    font-size: 16px;
    color: #328093;
    text-align: left;
}

.motivo {
    text-align: left;
    width: 100%;
    margin: auto;
}

.listaContactoFlex {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.nombreCompleto {
    padding-bottom: 15px;
}

.emailContacto {
    padding-bottom: 15px;  
}


.telefonoContacto {
    padding-bottom: 15px;  
}


.numeroPedido {
    padding-bottom: 15px;  
}


.comentariosContacto {
    padding-bottom: 15px;  
}
.input2 {
   width: 100%;
   border: 1px solid #328093;
   font-family: Noto Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 22px;
   color: #328093;
   border-radius: 50px;
   width: 100%;
   height: 43px;
   text-indent: 10px;
}

.input_comentarios{
width: 100%;
border: 1px solid #328093;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #328093;
height: 60px;
text-indent: 10px;
}

textarea {
  width: 100%; 
  margin-bottom: 10px; 
}

.boton {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}

button {
    Width: 100%;
    Height: 50px;
    background-color: #328093;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 29,96px;
    color: white;
    margin-bottom: 15px;
}

@media(min-width: 769px)and (max-width: 1023px){
    .seccionform {
        width: 56%;
    }
}

@media (min-width:1024px) {
.seccionform {
    width: 40%;
}
}
