*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

header{
  position:relative;
  width: 100vw;
  height: 80px;
}

.seccionHeader1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;  
  padding:10px;
}

.seccionHeader2 {
  display: none;
}

.menu-navegacion i{
  font-size: 30px;
  color: #679EAB;
}

.nav-toggle{
  display: none;
}

.menu-desplegable{
  position: absolute;
  background-color: white;
  padding: 0 0 20px 0;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  left: 0;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  z-index: 2;
}

.menu-desplegable a{
  text-decoration: none;
  color: #328093;
  font-size: 12px;
}

.menu-desplegable a:hover{
  color: #DFB760;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li{
text-align: center;
margin: 7px 0;
}

nav ul li a{
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
}

.nav-toggle:checked ~ nav{
  transform: scale(1,1);
}

.menu-desplegable-web {
  display: none;
}

@media (min-width: 769px) {
  .nav-toggle-label {
    display: none;
  }

  .menu-navegacion {
    background-image: none;
    display: flex;
  }

  .seccionHeader1{
    width: 30%;
  }

  .seccionHeader2 {
    width: 70%;
    display: block;
    padding-top: 15px;
  }

  .menu-desplegable-web {
    display: block;
  }

  .headerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 10px;
  }

  .menu-desplegable-web a{
    color:#328093;
    font-size: 12px;
    font-weight: bold;
  }

}


