*{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
}

header{
    position:fixed;
    width: 100vw;
    height: 100px;
    background-image: url(/img/Enmascarar\ grupo\ 6.png);
    background-color: white;
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 100;
}

.menu-navegacion{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding:20px 0;

}

.menu-navegacion i{
    font-size: 30px;
    color: #679EAB;
}

.nav-toggle{
    display: none;
}

.menu-desplegable{
    position: absolute;
    background-color: white;
    padding: 20px 0;    
}

.menu-desplegable a{
    text-decoration: none;
    color: #328093;
}

.menu-desplegable a:hover{
    color: #DFB760;
}

nav{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    background: gray;
    left: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    }

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    text-align: center;
    margin: 15px 0;
}

nav ul li a{
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
}

footer{
    padding-top: 50px;
    background-color: #328093;
}

 footer img{
     display: block;
     margin: auto;
    }

footer div ul{
    list-style: none;
    padding: 0;
}

footer div ul li{
    padding: 10px 0;
    text-align: center;
    color: #DFB760;
}

.redes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    font-size: 1.5em;
    color: #328093;
}

.redes i{
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
}

.ppal{
    font-family: DM Serif Text;
    font-style: normal;
    font-weight: normal;
    color: #328093;
    padding-top: 35px;
}
.fondo{
    background-image: url(/img/BackgroundIndexMobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.dejaVolar{
    width: 90%;
    margin: 110px auto 0;
    height: 70vh;
    box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.25);
    border-radius: 20px;
    background-color: white;
}

.content-dejavolar{
    padding: 0 15px ;

}

.section1-dejaVolar{
    font-size: 2.5em;
    
}

.section1-prodPers{
    padding: 30% 0 0 0;
}

.imagine{
    font-family: WindSong;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    color: #DFB760;
}

.buttonPersonalizar{
    background: #DFB760;
    border-radius: 32px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.prodDestacados {
    background: rgba(223, 183, 96, 0.1);
    }
.parent{
    position: relative;
}

.imgProductos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.fondoAzul{
    background-color: #328093;
    color: white;
    z-index: 50;
    font-family: Noto Sans;
    font-style: normal;
    text-align: center;
    width: auto;
    height: 75px;
    border-radius: 0px 0px 20px 20px;
}

.botellas{
    color: #DFB760;
    background-image: url("/img/MaskGroupIndexMobile.png");
    background-size: auto;
    width: 100%;
    height: 338px;
    left: 25px;
    top: 2504px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: DM Serif Text;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;    
}

.botonBotellas{
    background-color: #328093;
    color: white;
    border-radius: 32px;
    font-family: Noto Sans;
    font-style: normal;

}

.accesorios{
    background-image: url("/img/MaskGroupIndexMobile.png");
    background-color: #328093;
    color: white;
    background-size: auto;
    width: 100%;
    height: 338px;
    left: 25px;
    top: 2504px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: DM Serif Text;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;     
}

.botonAccesorios{
    background-color: white;
    color: #DFB760;
    border-radius: 32px;
    font-family: Noto Sans;
    font-style: normal;
}

.indumentaria{
    background-image: url("/img/MaskGroupIndexMobile.png");
    background-color: #DFB760;
    color: white;
    background-size: auto;
    width: 100%;
    height: 338px;
    left: 25px;
    top: 2504px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: DM Serif Text;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px; 
}

.botonIndumentaria{
    background-color: #328093;
    color: white;
    border-radius: 32px;
    font-family: Noto Sans;
    font-style: normal;
}

@media (min-width: 768px){
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

     footer img{
         margin: 10%;
        }
    
    .redes{
        margin: 10%;
    }

    .redes i{
        margin-left: 10px;
    }
    
    .ProdDestParent{
        display: flex;
    }

    .productos{
        display: flex;
    }
        
}    
   
@media (min-width: 1280px){

    
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

     footer img{
         margin: 10%;
        }
    
    .redes{
        margin: 10%;
    }

    .redes i{
        margin-left: 10px;
    }

    
    /* cambio de menu */

    .menu-navegacion{
        display: flex;
        width: 90%;
        align-items: center;
        margin: auto;  
        padding: 0;    
    }
    
    .menu-navegacion i{
        display: none;
    }
    
    .nav-toggle{
        display: none;
    }
        
    .menu-desplegable{
        position:inherit;
        background-color: transparent;
        padding: 20px 0;        
    }
    
    .menu-desplegable a{
        text-decoration: none;
        color: #328093;
        margin-left: 50px;
        font-size: 1em;
    }
    
    .menu-desplegable a:hover{
        color: #DFB760;
    }
    
    
    nav{
        all: unset;
    }
    
    nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;    
    }
    
    nav ul li{
        text-align: center;
        margin: 15px 0;    
    }
    
    nav ul li a{
        text-decoration: none;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .nav-toggle:checked ~ nav{
        transform:none;
    }

    .ProdDestParent{
        display: flex;
    }

    .productos{
        display: flex;
    }
        
}