*{
    box-sizing: border-box;
}

body{
    margin-top: 0;
    padding:0;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
}

.seccion1{
    background-color: white;
    margin: auto;
    padding: 10px;
    background-image: url(/img/BackgroundIndexMobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    z-index: 0;
  }

.seccion_imgroup{
    display: none;
}

.seccion_frases{
    z-index: 1;
    background-color: white;
    width: 240px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.25);
}

.caja_frases {
    margin-top: 10px;
}
h4 {
    padding-top: 30px;
    color:#DFB760;
    font-size: 12px;
    margin-left: 10%;
 }

h1 {
   font-family: DM Serif Text;
    padding-top: 5px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
    color:#328093;
}


h2{
    font-family: WindSong;
    font-style: normal  ;
    font-weight: normal;
    color: #DFB760;
    font-size: 30px;
    text-align: center;
}

.frase {
    font-family: Noto Sans;
    color:#328093;
    text-align:center;
    font-size: 12px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.boton {
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 0 0 20px 20px;
}
.buttonPersonalizar{
    background: #DFB760;
    border-radius: 32px;
    font-family: Noto Sans;
    font-weight: 900;
    color: #FFFFFF;
    width: 60%;
    text-align: center;
}

.caja_remera {
    overflow: hidden;
    border-radius: 20px;
}
.remera {
    width: 70%;
    position: relative;
    top: 49px;
    left: 39%;
    transform: rotate(-18deg);
    overflow: hidden;
}

h3 {
    font-family: DM Serif Text;
    padding-top: 15px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color:#328093;
}

.seccion2 {
    background: rgba(223, 183, 96, 0.1);
    padding-top: 20px;
 }

 h3 {
     font-size: 18px;
 }

.productos {
    border-radius: 0 0 20px 20px;
    width: 65%;
    margin: auto;
    text-align: center;
}

.imgProductos{
    height: 30%;
    width: 75%;
    position: relative;
    top:45px;
}

.info_productos {
    background-color: #328093;
    height: 120px;
    border-radius: 0 0 20px 20px;
    padding-top: 40px;

}
h5 {
    color: white;
    font-size: 16px;
}

.precio {
    color: white;
    font-size: 18;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;

}

.seccion3 {
    margin-top: 20px;
}

.productos_seccion3{
    border-radius: 20px;
    width: 65%;
    margin: auto;
    text-align: center;
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}

.productos1_seccion3{
    border-radius: 20px;
    width: 65%;
    margin: auto;
    text-align: center;
    box-shadow : 0px 0px 10px rgb(100, 100, 100);
}

.detalle_producto_botella {
    margin-bottom: 20px;
    background-color: #DFB760;
    border-radius: 0 0 20px 20px;

}
.detalle_producto_remera {
    margin-bottom: 20px;
    background-color: #328093;
    border-radius: 0 0 20px 20px;

}

.detalle_producto_accesorios {
    margin-bottom: 20px;
    border-radius: 0 0 20px 20px;
    
}
.botTitle {
    color: #328093;
    font-size: 23px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 10px;
}
.remeraTitle {
    color:white;
    font-size: 23px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 10px;
}

.accesoriosTitle{
    color:#DFB760;
    font-size: 23px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 10px;
}
.bottones_seccion3{
    background-color: #328093;
    width: 50%;
}

.caja_botella_seccion3 {
    overflow: hidden; 
    background-color: #DFB760;
    border-radius: 20px 20px 0 0;
}

.caja_remera_seccion3 {
    overflow: hidden; 
    background-color: #328093;
    border-radius: 20px 20px 0 0;

}

.caja_accesorios_seccion3 {
    overflow: hidden;
    background-color: white; 
    border-radius: 20px 20px 0 0;
}

.remera1_seccion3 {
    transform: rotate(-25deg);
    margin-right: -80%;
}

.remera2_seccion3 {
    transform: rotate(-25deg);
    margin-right: -80%;
}

.caja_boton{
    width: 60%;
    padding-bottom: 20px;
    padding-left: 10px;
    }

.botones_seccion3 {
    width: 100%;
    height: 25px;
    border-radius: 20px;
    background-color: #328093;
    color: #DFB760;
    font-size: 10px;
    font-weight: bold;
}

.botones_indumentaria_seccion3 {
    width: 100%;
    height: 25px;
    border-radius: 20px;
    background-color: white;
    color: #DFB760;
    font-size: 10px;
    font-weight: bold;
}

@media (min-width:769px) {
    body {
        background-image: none;
    }

    .seccion1 {
    box-shadow: none;
    background: none;
    padding: 30px;
    background-image: url(/img/fondo_index_grande.png);
    background-position: top;
    background-size:auto;
    background-repeat: no-repeat;
    background-position-x: center;
    z-index: 0;
    display: flex;
    height: 400px;
    margin-top: 10px;
    }

    .caja_frases {
        margin-top: 0px;
        width: 50%;
        height: 100%;
        margin: auto;
    }

    .frase {
        padding: 0px;
        padding-bottom: 5px;
        background-color: white;
    }

    .seccion_frases{
        display: flex;
        justify-content:space-around;
        width: 400px;
        margin-left: 10%; 
        box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.25);
    }

    .seccion_imgroup{
        display:flex;
        width: 35%;
        height: 100%;
        margin: auto;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        margin-left: 23%;
    }

    .boton {
        padding-bottom: 15px;
    }

    .seccion2 {
        padding-bottom: 30px;
    }

    .caja_productos{
        display: flex;
    }

    .productos {
        margin: 10px;
    }

    .caja_remera {
        display: none;
    }

    .caja1flex_seccion3 {
    width: 50%;
    height: 100%;
    margin: auto;
    }

    .productos_seccion3 {
        height: 360px;
        width: 70%;
        background-color: #DFB760;
        margin-top: 16px;
    }

    .detalle_producto_remera {
    height: 40%;
    }

    .detalle_producto_botella {
        padding-top: 30px;
    }

    .caja2flex_seccion3 {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 20px;
    }

    .productos1_seccion3 {
        height: 50%;
        margin: auto;
        width: 80%;
        margin-bottom: 10px;
    }

    .seccion3 {
        display: flex;
        height: 400px;
        margin-top: 10px;
    }

    .caja_botella_seccion3 {
        height: 60%;
    }

    .remera1_seccion3 {
        transform: rotate(-18deg);
        margin-right: -56%;
        width: 230px;
        margin-top: -15px;
    }

    .remera1_seccion3 {
        transform: rotate(-18deg);
        margin-right: -56%;
        width: 75%;
        margin-top: -15px;
    }

    .remera2_seccion3 {
        transform: rotate(-18deg);
        margin-right: -72%;
        width: 50%;
        margin-top: -28px;
    }

    .caja_remera_seccion3 {
        height: 60%;
    }

    .caja_accesorios_seccion3 {
        height: 60%;
    }

    .botTitle {
        font-size: 35px;
    }
    .accesoriosTitle{
        font-size: 30px;
        }

    .remeraTitle {
        font-size: 30px;
    }

    .caja_boton {
        padding-bottom: 0;
        width: 70%;
    }

    .botones_seccion3 {
        height: 32px;
    }

    .botones_indumentaria_seccion3 {
        height: 32px;
    }

}

