*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

header{  
    text-align: center;
}

.logo{
    margin:auto;
    display: block;
    background: url(/img/Trazado\ 15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 50px;
    background-position: bottom;
}
 
.login {
    padding-bottom: 20px;
}

header h1{
font-family: 'Noto Sans', sans-serif;
font-size: 2em;
color:#328093;
padding-bottom: 20px;
padding-top: 10px;
}


section{
    width: 100%;
    padding: 10px;
    }

.seccionform{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color:#328093; 
  }

.seccionform label{
    display:block;
    padding: 15px 0 5px 10px;
}

.seccionform input{
    border: 1px solid #328093;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #328093;
    border-radius: 50px;
    width: 100%;
    height: 43px;
    text-indent: 10px;

}

.seccionform input::placeholder{
    color:#328093;
    opacity: 0.5;
}

button{
Width: 100%;
Height:50px;
background-color:#328093 ;
color:#FFFFFF;
filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.161));
text-align: center;
border-radius: 50px;
border:none;
font-family: Noto Sans;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 29,96px;
margin-top: 20px;
}

.vínculos {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.contraseña {
    text-decoration: none;
    color:#328093;
    font-size: 15px;
    font-family:Noto Sans;
    padding-bottom: 10px;
}
.crear-cuenta1 {
    color:#328093;
    text-decoration: none;
    font-size: 15px;
    font-family:Noto Sans;
}


button.google{
    background: blue;
    color:white;
    border:blue;
    font-size: 12px;
    height: 30px;
    border-radius: 0px;
    text-align: center;
    display: block;
    width: 50%;
    margin:auto;
    margin-top:10px ;
    
}

.modelo{
    display: none;

}
.modelo h3 {
    margin-top: -30px;
}

@media (min-width:769px) and (max-width:1023px) {

    .flex-container{
        display:flex
    }
    

    .modelo {
    display:block;
    width:50vw; 
    max-width: 1500px;  
        }
    
    .login{
    width: 50vw;
    }
    
    .logo{
    background: #FFFFFF;
    padding: 85px 0px 0px 0px;
    height: auto;
          }
    
    .logo img {
        width: 8em;
    }
    
    header h1 {
        font-size: 1.5em;
    }
    section{
    padding: 0 10% 10% 10%;
        }
    
    .seccionform{
           margin: 0%;   
           padding: 20px;
        }
        
    
    .modelo {
        background: url(/img/FONDO\ LOGIN-REGISTER.png);
        box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.5);
        text-align: center;
        border-radius:30px 0 0 30px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        }
           
    .modelo h1{
        font-family: 'DM Serif Text', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 55px;
        color: #328093;
        padding-top: 65px;
    }
    .modelo h3{
        font-family: WindSong;
        font-style: normal  ;
        font-weight: normal;
        font-size:50px;
        color: #DFB760;
        font-size: 50px;
    }
    
    .modelo p{
        font-family: Noto Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #328093;
        text-align: center;
        justify-content: center;
        margin: 25px 0 50px;
    }
    
    .merchandising{
        width: 50vw;
        height: 30%;
        display: block;
        margin: auto;
        padding:10px;
    }
                
    .remera{
    width: 100%;
        }
      
       
    }
    
@media (min-width:1024px) {
.flex-container{
    display:flex
}

.modelo {
display:block;
width:50vw; 
max-width: 1500px;  
    }

.login{
width: 50vw;
}

.logo{
background: #FFFFFF;
padding: 85px 0px 0px 0px;
height: auto;
      }

.logo img {
    width: 10em;
}

section{
padding: 0 10% 10% 10%;
    }

.seccionform{
       margin: 0%;   
       padding: 20px;
    }
    

.modelo {
    background: url(/img/FONDO\ LOGIN-REGISTER.png);
    box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.5);
    text-align: center;
    border-radius:30px 0 0 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    }
       
.modelo h1{
    font-family: 'DM Serif Text', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    color: #328093;
    padding-top: 65px;
}
.modelo h3{
    font-family: WindSong;
    font-style: normal  ;
    font-weight: normal;
    font-size:50px;
    color: #DFB760;
    font-size: 65px;
}

.modelo p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #328093;
    text-align: center;
    justify-content: center;
    margin: 0 100px;
}

.merchandising{
    width: 50vw;
    height: 30%;
    display: block;
    margin: auto;
    padding:10px;
}
            
.remera{
width: 100%;
    }
  
   
}