body{
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

/*    *****ESTILOS DEL HEADER*****    */
header{
    position:fixed;
    width: 100%;
    height: 100px;
    background-image:url(/img/Trazado\ 13.jpg);
    background-color: white;
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 100;
}
.menu-navegacion{
    
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;  
    padding:20px 0;

}
.menu-navegacion i{
    font-size: 30px;
    color: #679EAB;
}
.nav-toggle{
    display: none;
}
.menu-desplegable{
    position: absolute;
    background-color: white;
    padding: 20px 0;
}
.fa-shopping-cart:hover{
    color: #DFB760;
}
.menu-desplegable a{
    text-decoration: none;
    color: #328093;
}
.menu-desplegable a:hover{
    color: #DFB760;
}
nav{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    background: gray;
    left: 0;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
text-align: center;
margin: 15px 0;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
}
.nav-toggle:checked ~ nav{
 transform: scale(1,1);
}

/*  *****ESTILOS DE DETALLE DE PRODUCTO*****   */
main{
    padding-top: 10px;
}    
.product-name{
    color:#328093;
    font-size:28px;
    margin-top: 100px;
}
.product-price{
    color:#DFB760;
    font-size:32px;
}
.product-container, .img-carrousel{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.5);
}
.product-container{
    max-width: 80%;
    margin: 10%;
    display: flex;
    flex-flow: column;
}
.carrousel-container{
    padding: 5%;
    margin: 5%;
}
.carrousel-image{
    display: flex;
    justify-content: space-between;
}

.size-container{
    display:flex;
    justify-content: space-evenly;
}
.file{
    margin: 10%;
    display:flex;
    flex-flow: column;
}
.up-file, .submit{
    padding-bottom: 10%;
}
.size-button{
    border: solid 4px #328093;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color:#DFB760;
}
.size-button:hover {
    box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.5); 
    color: #ffffff;
    background-color: #328093;
}
.submit{
    background-color: #328093;
    border-radius: 25px;
    padding:15px;
    margin:10%;
    color:#ffffff;
    font-size: 17px;
    font-weight: bold;
}
.submit:hover{
    box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.5); 
}

/*  *****ESTILOS DEL FOOTER*****   */
footer{
    padding-top: 50px;
    background-color: #328093;
}
footer img{
     display: block;
     margin: auto;
}
footer div ul{
    list-style: none;
    padding: 0;
}
footer div ul li{
    padding: 10px 0;
    text-align: center;
    
}
.a-footer{
    text-decoration: none;
    color: #DFB760;
}
.a-footer:hover{
    color: white;
}
.redes{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
font-size: 1.5em;
    color: #328093;
}
.redes i{
    background-color: white;
    text-align: center;
    width: 45px;
    padding: 10px;
    border-radius: 50px;
}


/*      *****MEDIA QUERIES*****    */

/*LARGE*/
@media (min-width: 1280px){
    header{
        position: absolute;
    }
    .menu-navegacion{
        display: flex;
        width: 90%;
        align-items: center;
        margin: auto;  
        padding: 0;
    }
    .menu-navegacion i{
        display: none;
    }
    .nav-toggle{
        display: none;
    }
    .menu-desplegable{
        position:inherit;
        background-color: transparent;
        padding: 20px 0; 
    }
    .menu-desplegable a{
        text-decoration: none;
        color: #328093;
        margin-left: 50px;
        font-size: 1em;
    }
    .menu-desplegable a:hover{
        color: #DFB760;
    }
    nav{
        all: unset;
    }
    nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav ul li{
        text-align: center;
        margin: 15px 0;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 1.5em;
        text-transform: uppercase;
    }
    .fa-shopping-cart{
        margin-left: 50px;
    }
    .nav-toggle:checked ~ nav{
     transform:none;
    }
    main{
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    .product-container{
        order:-1;
    }
    .product-title {
        max-height: 300px;
        position: relative;
    }
    .product-form{
        max-height: 300px;
        position: absolute;
        margin-left:50%;
        margin-top:20%;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

    }
    footer img{
        margin: 10%;
        }

    .redes{
        margin: 10%;
    }
    .redes i{
        margin-left: 10px;
    }
}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1279px){
    main{
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .product-container{
        order:-1;
    }
    .product-title {
        max-height: 300px;
        position: relative;       
    }
    .product-form{
        max-height: 300px;
        position: absolute;
        margin-left:60%;
        margin-top:40%;
    }
    .size-button{
        border: solid 2px #328093;
        padding: 10px;
        font-size: 15px;
    }
    .submit{
        font-size: 12px;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    footer img{
        margin: 10%;
    }
    .redes{
        margin: 10%;
    }
    .redes i{
        margin-left: 10px;
    }
}