body{
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
}

/*  *****ESTILOS DE DETALLE DE PRODUCTO*****   */
main{
    padding-top: 100px;
}
.product-title{
    margin: 20px;
}    
.product-name{
    color:#328093;
    font-size:34px;
    font-weight: 900;
    
}
.product-price{
    color:#DFB760;
    font-size:34px;
    font-weight: 900;

}
.product-container, .img-carrousel{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.5);
}
.product-container{
    width: 80%;
    margin: 10%;
    text-align: center;
    display: flex;
    flex-flow: column;
    max-width: 500px;
    height: auto;
}
.items-personalizar{
    font-size: 16px;
    line-height: 40px;
    margin: 20px;
}


.font-container{
    margin: 10px;
    padding:10px;
}
.container-title-form{
    margin: 0 10% 0 0;
    margin-top: 10%;
    align-items: center;
}
.size-container{
    display:flex;
    justify-content: space-evenly;
}
.file{
    margin: 10%;
    display:flex;
    flex-flow: column;
}
.up-file, .submit{
    padding-bottom: 10%;
}

.button{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--color-verde) ;
    font-weight: 800;
    color: var(--color-white) ;
    background-color: var(--color-amarillo);
    border-radius: 50px;
    border-style: none;
    padding: 10px 15px;
    text-decoration: none;
}
.large-button{
    width: 100%;
    height: 43px;
    margin-bottom: 10px;
    background-color: var(--color-white);
    color: var(--color-verde);
}
.bg-green{
    background-color: var(--color-verde)!important;
}
.font-color-white{
    color: var(--color-white)!important;
}

/*      *****MEDIA QUERIES*****    */

/*LARGE*/
@media (min-width: 1280px){
    body{
        height: 100%;
    }
    
    main{
        
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        background-color: transparent;
    }
    .product-container{
        width: 50%;
        height: 50%;
        margin-inline-end: auto;
        display: flex;
        flex-flow: column;
    }

    .product-name{
        font-size: 34px;
    }
    .product-price{
        font-size: 38px;
    }
    .product-form{
        margin: 0;
    }
    
}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 1279px){
    main{
        padding-top: 50px;
    }
    .size-button{
        border: solid 2px #328093;
        padding: 10px;
        font-size: 15px;
    }
    .submit{
        font-size: 12px;
    }
    
}