*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.titulo_Kapu4{
    color: #328093;
    font-size: 30px;
    text-align: center;
    padding: 30px 0 30px 0;
}

.parrafo_quienes_somos{
    font-size: 12px;
    padding: 0px 50px;
    text-align: justify;
}

.fotos_kapu4 {
    width: 100vw;
}

@media (min-width:769px) and (max-width:1023px){
    .titulo_Kapu4 { 
        font-size: 26px;
    }
    .seccion_imgroup {
        text-align: center;
    }

    .fotos_kapu4 {
        width: 80vw;
    }

}
@media (min-width: 1024px) {
    .titulo_Kapu4 { 
        font-size: 42px;
    }
    .parrafo_quienes_somos {
        font-size:30px;
    }
    .seccion_imgroup {
        text-align: center;
    }

    .fotos_kapu4 {
        width: 80vw;
    }

  }
