*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

header{  
    text-align: center;
}

.logo{
    margin:auto;
    display: block;
    height: 200px;
    background: url(/img/Trazado\ 15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 50px;
    background-position:bottom;
}


header h1{
font-family: 'Noto Sans', sans-serif;;
font-weight: 700;
font-size: 41px;
color:#328093;
}

section{
    width: 100%;
    padding: 10px;
    }

.seccionform{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color:#328093; 
    margin: 25px 0;   
}

.seccionform label{
    display:block;
    padding: 0 0 5px 10px;
}

.seccionform input{
    border: 1px solid #328093;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #328093;
    border-radius: 50px;
    width: 100%;
    height: 43px;
    text-indent: 10px;

}

.seccionform input::placeholder{
    color:#328093;
    opacity: 0.5;
}

button{
Width: 100%;
Height:50px;
background-color:#328093 ;
color:#FFFFFF;
filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.161));
text-align: center;
border-radius: 50px;
border:none;
font-family: Noto Sans;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 29,96px;
margin-top: 20px;
}

button.facebook{
    background:#3b5998;
    color:white;
    border:#3b5998;
    font-size: 12px;
    height: 30px;
    border-radius: 0px;
    text-align: center;
    display: block;
    width: 50%;
    margin:auto;
    margin-top: 10px;
    
}
button.google{
    background: blue;
    color:white;
    border:blue;
    font-size: 12px;
    height: 30px;
    border-radius: 0px;
    text-align: center;
    display: block;
    width: 50%;
    margin:auto;
    margin-top:10px ;
    
}

.modelo{
    display: none;
    background: url(/img/FONDO\ LOGIN-REGISTER.png);
    box-shadow: 0px 0px 12px rgba(50, 128, 147, 0.5);
    text-align: center;
    border-radius:30px 0 0 30px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: auto;
    }


.modelo h1{
    font-family: 'DM Serif Text', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    color: #328093;
    padding-top: 65px;
}
.modelo h3{
    font-family: WindSong;
    font-style: normal  ;
    font-weight: normal;
    font-size:50px;
    color: #DFB760;
    
}
.modelo p{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #328093;
    text-align: center;
    justify-content: center;
    margin: 0 100px;
}

.merchandising{
    display: block;
    margin: auto;
    padding:10px;
}
.footer-1 {
    background-color:#328093;
    width: 100vw;
    text-align: center;
    padding-top: 20px;
}

.logo2{
    width: 20vw;
    height: auto;

}

.listado-footer1 {
    color: white;
    list-style: korean-hanja-informal;
    FONT-FAMILY: 'Noto Sans', sans-serif;
    FONT-SIZE: 12px;
    padding-bottom: 20px;
}

.listado-footer2 {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.footer-2 {
   background-color:  #133138;
 
}

.listado-footer3 {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    list-style: none;
    FONT-FAMILY: 'Noto Sans', sans-serif;
}

@media (min-width:1024px) {

.flex-container{
    display:flex
}
.modelo {
    display:block;
    width: 50vw;

}
.register{
width: 50vw;
}

.logo{
    background: #FFFFFF;
    padding: 100px 0px 0px 0px;

         }
.remera{
    width: 100%;
}

section{
             padding: 0px 70px;
         }
         .footer-1 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            }
        
        .logo2 {
            width: 10vw;
        }
        .listado-footer1 {
           padding-top: 20px;
           list-style: korean-hanja-informal;
           FONT-SIZE: 22px;
           padding-bottom: 20px;
           list-style: none;
        }
        
        .listado-footer2 {
            padding-top: 20px;
            padding-bottom: 20px;
            display: flex;
            justify-content: space-evenly;
            font-size: 40px;
        }
        
        .footer-2 {
           background-color:  #133138;
           height: 50px;
         
        }
        
        .listado-footer3 {
            color: white;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;
            padding-top: 10px;
           }
        }
        button.google{
            margin-bottom: 10px; ;
        
             }
        }
        