*{
    box-sizing: border-box;
}
header{  
text-align: center;
}


header h1{
position: absolute;
left: 19.17%;
right: 19.72%;
top: 10.54%;
bottom: 86.91%;
font-family: 'Noto Sans', sans-serif;;
font-style: normal;
font-weight: bold;
font-size: 41px;
line-height: 56px;
color:#328093;
}

section{
    padding: 5px;
}
section .detalle1{
margin-top: 14.64%;
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
color:#328093;
}
section .detalle{
font-family: Noto Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
color:#328093
    }
section .dato {
width: 325px;
height: 43px;
background: #FFFFFF;
border: 1px solid #328093;
box-sizing: border-box;
border-radius: 50px;


}
input{
border: none;
border-left: 2px;
font-family: Noto Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #328093;
opacity: 0.5;

}
button{
Width: 324px;
Height:57px;
Top: 731px;
Left: 17px;
background-color:#328093 ;
color:#FFFFFF;
filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.161));
text-align: center;
border-radius: 50px;
border:none;
font-family: Noto Sans;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 29,96px;
}

footer{
height: 572px;
width: 362px;
left: 0px;
top: 980px;
border-radius: 0px;
position: absolute;
width: 362px;
height: 572px;
left: 0px;
top: 980px;
background: #328093;
font-family: Noto Sans SC;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

}

h3 {
font-family: Noto Sans SC;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
}
h3.quienes {
    position: absolute;
    left: 28.06%;
    right: 25.56%;
    top: 58.3%;
    bottom: 40.37%;
}
h3.contacto{
    position: absolute;
left: 38.89%;
right: 36.39%;
top: 60.86%;
bottom: 37.82%;
}