<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', {title: 'Contactanos'}) %>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
        <section class="banner">
            <div class=" first-gap">
    
            <div class="container">
                <h1 class="">
                    Contacto
                </h1>
    
    
            </div>
    
        </section>
        <section class="margin-form-start">
            <div class="container">
                <div class="form-contact">
                    <form action="" method="POST">
                        <div class="label-flex section-form">
                            <label for="">Nombre Completo</label>
                            <input type="text" placeholder="Nombre Completo">
                        </div>
                        <div class="label-flex section-form">
                            <label for="">E-mail</label>
                            <input type="email" placeholder="user@cuenta.com">
                        </div>
                        <div class="label-flex section-form">
                            <label for="">Teléfono</label>
                            <input type="number" placeholder="Ej: 11-6959-4158">
                        </div>
                        <div class="label-flex section-form">
                            <label for="">Asunto</label>
                            <input type="text" placeholder="Asunto del contacto">

                        </div>
                        <div class="label-flex section-form">
                            <label for="">Descripción</label>
                            <textarea name="" id="" cols="30" rows="10" placeholder="Descripción del producto"></textarea>
                        </div>

                        <button class=" button large-button bg-green font-color-white ">Enviar</button>
                    </form>
                </div>
            </div>
        </section>

    </main>


    <%-include("./partials/footer")%>  

</body>
</html>