<!DOCTYPE html>

<html lang="es">

<!-- Include Head -->

<head>
    <%- include('partials/head', {title: 'Inicio'}) %>
    <link href="css/indexStyle.css" rel="stylesheet">
</head>

<body>
    
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
        <section class="banner-info">
            <div class="banner-flex">
                <div class="titular">
                    <p class="epigrafe">Productos personalizados</p>
                    <h1 class="title">Deja volar tu</h1>
                    <h2 class="sub-title">Imaginacion</h2>
                    <p class="paragraph">Personaliza cualquier producto y hace realidad esa prenda que siempre quisiste
                    </p>
                    <a href = "/product"> <button class="button button-mg-botom" 
                    > Ver Productos </button> </a>
                </div>
                <div>
                    <img class="product-kit" src="img/kit productos.png" alt="">
                </div>
            </div>
        </section>
        <section class="product-seen">
            <div class="margine">
                <h1 class="title-2">Destacados</h1>
                <div class="flex">
                    <div class="product-info center-img">
                        <img src="img/AC mockup.png" alt="">
                        <div class="prod-bg">
                            <h3>Nombre de producto</h3>
                            <p>$2500    </p>
                            <button class="button large-button">
                                <a class="font-color-green" href="/product/5">Personalizar</a>
                            </button>
                        </div>
                    </div>
                    <div class="product-info  center-img">
                        <img src="img/AC mockup.png" alt="">
                        <div class="prod-bg">
                            <h3>Nombre de producto</h3>
                            <p>$2500    </p>
                            <button class="button large-button">
                                <a class="font-color-green" href="/product/2">Personalizar</a>
                            </button>
                        </div>
                    </div>
                    <div class="product-info center-img">
                        <img src="img/AC mockup.png" alt="">
                        <div class="prod-bg">
                            <h3>Nombre de producto</h3>
                            <p>$2500    </p>
                            <button class="button large-button">
                                <a class="font-color-green" href="/product/1">Personalizar</a>
                            </button>
                        </div>
                    </div>
                    <div class="product-info center-img">
                        <img src="img/AC mockup.png" alt="">
                        <div class="prod-bg">
                            <h3>Nombre de producto</h3>
                            <p>$2500    </p>
                            <button class="button large-button">
                                <a class="font-color-green" href="/product/4">Personalizar</a>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>

        </section>

        <section class="container-categoris">
            <div class="categori cat-indumentaria grid-categori-heigth">
                <div class="text-align-bottom ">
                    <h1 class="title-categori">Indumentaria</h1>
                    <button class="button bg-white text-yellow">Ver mas</button>
                </div>
            </div>
            <div class="categori bg-white grid-categori-heigth-2">
                <div class="text-align-bottom">
                    <h1 class="title-categori text-yellow">Botellas</h1>
                    <button class="button bg-white text-white bg-green">Ver mas</button>
                </div>
            </div>
            <div class="categori bg-green grid-categori-heigth-2">
                <div class="text-align-bottom">
                    <h1 class="title-categori">Accesorios</h1>
                    <button class="button bg-white text-yellow text-green">Ver mas</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <%-include("partials/footer")%>
    </footer>

</body>

</html>