<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head")%>


<body>
  <div>
      <h1>No hay publicaciones que coincidan con tu búsqueda</h1>
      <ul>
        <li>Revisá la ortografía de la palabra</li>
        <li>Utilizá palabras más genéricas o menos palabras</li>
        <li><a hreF = "/products">Navegá por las categorías</a> para encontrar un producto similar</li>
    </ul> 
  </div>

  <div>
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
<%-include("./partials/footer")%>  
</body>
</html>