<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head', {title: 'Error 404'}) %>
  <link href="css/not.found.css" rel="stylesheet">
</head>   


<body>
  
  <secction class = "seccion1">
    <div class="caja_icono">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <div class = caja_lista>
      <h1>No hay publicaciones que coincidan con tu búsqueda</h1>
      <ul class="lista_notfound">
        <li>Revisá la ortografía de la palabra</li>
        <li>Utilizá palabras más genéricas o menos palabras</li>
        <li><a href= "/product">Navegá por las categorías</a> para encontrar un producto similar</li>
      </ul> 
    </div>

  </secction>
  <footer>
    <%-include("./partials/footer")%>  
  </footer>

</body>
</html>