<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head', {title: 'Inicio'}) %>
</head>
<body>
    <!-- Barra de navegacion-->
    <header>
        
        <%- include('partials/header') %>
        <link rel="stylesheet" href="/css/productCart.css">
    </header>

<div class="secciones">

    <!--Seccion de Producto-->

    <section class="productos-en-carrito">

        <div class="info-producto">

                  <img src="/img/AC mockup.png" alt="Imagen remera">
                 <h3>Remera Hombre para aplicar Diseño Blanca</h3>

            <div class="datos-producto">

                 <span class="talle">M</span>
                 <span class="precio">$500</span>

                 <div class="cantidad-productos">

                     <span class="menos">-</span>
                     <span class="cantidad">1</span>      
                     <span class="mas">+</span>
                
                 </div>
            </div>
        </div>
        
    </section>

    <!-- Seccion de Calculo de Precio-->
    <section class="calculador-precio">
        <div class="contenedor-precios">
<h2>Total del Carrito</h2>
<hr>
<!-- SUbtotal del producto -->
<div class="subtotal">
    <span>Subtotal</span>
    <span>$500</span>
</div>
<hr class="hr-amarilla">
<!-- Costo de envio -->
<div class="costo-envio">
    <div class="info-envio">
    <span>Envio</span>
    <span>$200</span>
  </div>
    <br>
    <a href="#" class="calculo-envio">Calcular envio</a>
    <hr class="hr-amarilla">

</div>
    <!--Total -->
    <div class="total">
        <span>Total</span>
        <span>$700</span>
    </div>
    <hr class="hr-amarilla">

    <button class="boton">Finalizar compra</button>
    <!--Cupon-->
    <div>
        <h3 class="cupon">Cupon</h3>
        <hr>
        <input type="text" class="input-cupon" placeholder="Insertar cupon de descuento">
        <button class="boton">Aplicar cupon</button>
    </div>
</div>

    </section>

</div>

    <footer>
        <%-include("partials/footer")%>

    </footer>

    
</body>
</html>