<!DOCTYPE html>
<html lang="en">

    <link href="css/quienesSomos.css" rel="stylesheet">

<body>
    <header>
        <%- include('partials/header') %>
    </header>
    
    <section class="quienesSomos">
    <h1 class="titulo_Kapu">Acerca de Kapu</h1>
    <p>Kapu nace en el año 2018, cuando un grupo de emprendedores y estudiantes de programación full stack, desarrollaron un e-commerce de una marca de para que los usuarios puedan personalizar sus productos preferidos haciéndolo en productos de la más alta calidad del mercado, cuidado los detalles y el desarrollo de exclusivos diseños.
        Desde entonces, la marca se ha convertido en una prestigiosa referencia. Fiel a su legado y valores, es una marca muy valorada por su calidad e inconfundible estilo.
    </p>
    <p> Hoy en día, con un recorrido de más de 4 años de experiencia integra con excelencia worldclass, todos los procesos de diseño, compras, producción, logística y comercialización.
    </section>

    <section class="fotos_kapu">
        <div class="contenedor_fotos">
    <img class="remera" src="/img/AC mockup.png">
    <img class="taza" src="/img/Taza.jpg">
    <img class="celular" src="img/celular-login-mockup.jpg" alt="imgtasa"/>
</div>   
</section>
    
    <footer>
        <%-include("partials/footer")%>
    </footer>

</body>
</html>