<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%- include('partials/head', {title: 'Inicio'}) %>
    <link href="css/indexStyle.css" rel="stylesheet">
</head>

<body>
    
    <header>
        <%- include('partials/header') %>
    </header>

<body>
    <h1>Hola! </h1>
</body>
</html>