<footer class="bg-green">
    <div class="footer-flex">
        <img src="img/logo-kapu-01.svg" alt="">
        <div>
            <ul class="f-menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#"> Nosotros</a></li>

            </ul>
        </div>
    </div>
    <div class="legals">
        <a href="#">Politicas de privacidad</a> <br>
        <a href="#">Terminos y condiciones</a>
    </div>


</footer>