
<footer>   
    <div class= "footer-1">
        <img class="logo2" src="./img/logo-kapu-01.jpg" alt = "Logo Kapu">
        <ul class="listado-footer1">
            <li class="lista">Inicio</li>
            <li class="lista">Productos</li>
            <li class="lista">¿Quienes Somos?</li>
            <li class="lista">Contacto</li>
        </ul>

        <ul class="listado-footer2">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-brands fa-twitter"></i>
        </ul>
    </div>
    
    <div class="footer-2">
        <ul class="listado-footer3">
            <li>Políticas de Privacidad</li>
            <li>Términos & Condiciones</li>
        </ul>
</div>
</footer>
