<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2dbd763d9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com">
  
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@200&family=Noto+Sans&family=Roboto:wght@400;700&family=WindSong&display=swap"
        rel="stylesheet">
        <link rel="stylesheet"  href="css/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title> <%= title %> - Kapu </title>

<!-- LINK PARA VINCULAR CSS -->
    
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/not.found.css">


</head>