<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2dbd763d9c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Noto+Sans&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@200&family=Noto+Sans&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@200&family=Noto+Sans&family=Roboto:wght@400;700&family=WindSong&display=swap"
        rel="stylesheet">
    <title> <%= title %> - Kapu </title>
    <link href="css/footer.css" rel="stylesheet">
</head>