    <!-- Barra de navegacion-->
    <link rel="stylesheet" href="/css/header.css">

    <header>
        <div class="menu-navegacion">
        <img src="/img/logo-kapu-01.png" alt="logo">


        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-lavel">
        <i class="fas fa-bars"></i>
    </label>
        <nav class="menu-desplegable">
            <ul>
                <li> <a href="#">Inicio</a></li>
                <li> <a href="#">Productos</a></li>
                <li> <a href="#">Quienes somos</a></li>
                <li> <a href="#">Contacto</a></li>
                <li> <a href="#">Carrito</a></li>
            </ul>
        </nav>
    </div>

    </header>